<style>
  th{
    color:white;
  },
  tr{
    color: white;
  }
  table{
    color: white;
  }
  td{
    color: white;
  }
</style>

<div class="container p-4">
 <div style="text-align: center;">
        <b style="color:white;">ADD ANDIDATES</b>
    </div>
  <form class="form2 p-4" style="border: 2px solid black;" action="/admin/addCandidates" method="post" enctype="multipart/form-data">
  <div class="mb-3">
      <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Name" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <input type="text" name="age"   placeholder="age" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <input type="text"  name="place" placeholder="Place" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <input type="text" name="Area"  placeholder="Area" class="form-control" id="exampleInputPassword1">
  </div>
   <div class="mb-3">
    <input type="text" name="party"  placeholder="Party" class="form-control" id="exampleInputPassword1">
  </div>
   <div class="mb-3">
    <input type="file" name="img" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-outline-primary" style="width:100%">Add</button>
</form>
</div>



<table class="table table-striped-columns" style="border:2px solid white">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Place</th>
      <th scope="col">Area</th>
      <th scope="col">Party</th>
      <th scope="col">img</th>
    </tr>
  </thead>
   <tbody>
     {{#each data}}
    <tr>
      <th scope="row">{{this.name}}</th>
      <td>{{this.age}}</td>
      <td>{{this.place}}</td>
       <td>{{this.Area}}</td>
      <td>{{this.party}}</td>
      <td>    <img style="height:30px;width:30px" src="/images/candidats/{{this.img}}" class="img-fluid rounded-start" alt="no img">
</td>
    </tr>
    {{/each}}
  </tbody>
</table>